@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int counter = 0;
}

<h1>Kullanıcı Listesi</h1>
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Kullanıcı Adı</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Düzenle</th>
        <th>Yorumlar</th>
        <th>Tur Geçmişi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @{ counter = counter + 1; }
            <td>@counter</td>
            <td>@item.Name @item.Surname</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td><a href="~/Admin/User/DeleteUser/@item.Id" class="btn btn-outline-success">Sil</a></td>
            <td><a href="~/Admin/User/EditUser/@item.Id" class="btn btn-outline-danger">Düzenle</a></td>
            <td><a href="~/Admin/User/CommentUser/@item.Id" class="btn btn-outline-info">Yorumlar</a></td>
            <td><a href="~/Admin/User/ReservationUser/@item.Id" class="btn btn-outline-secondary">Tur Geçmişi</a></td>
        </tr>
    }
</table>
<a href="~/Admin/User/AddUser" class="btn btn-outline-primary">Yeni Kullanıcı Kaydı</a>
